.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.fredoka {
    font-family: 'Fredoka One', cursive;
}

input {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

input::placeholder {
    font-family: 'Fredoka One', cursive;
}