.comfortaa {
  font-family: 'Comfortaa', cursive;
}

.fredoka {
  font-family: 'Fredoka One', cursive;
}

input {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

input::-webkit-input-placeholder {
  font-family: 'Fredoka One', cursive;
}

input:-ms-input-placeholder {
  font-family: 'Fredoka One', cursive;
}

input::placeholder {
  font-family: 'Fredoka One', cursive;
}

.card {
  margin: 6px;
}