$ltBorder: solid #dfdfdf 2px;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hero {
    border-bottom: $ltBorder;
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.fredoka {
    font-family: 'Fredoka One', cursive;
}

input {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

input::placeholder {
    font-family: 'Fredoka One', cursive;
}

.box {
    border-bottom: $ltBorder;
    border-radius: 0px 0px 5px 5px;
}

.card {
    margin: 12px;
}

.card-section {
    
    background-image: url(../images/marijuana-background-cropped.jpg);
    background-repeat: repeat;
    flex: 1;
}

footer {
    border-top: $ltBorder;
    border-radius: 5px 5px 0px 0px;
}